@{
    ViewData["Title"] = "Fin";
    var username = Juego.username;
    var puntajeActual = Juego.puntajeActual;
    <link rel="stylesheet" href="styles.css">

}

<body>
    <div class="result-wrapper">
        <p class="end-message">FIN</p>

        <div class="result-details">
            <h1 class="user-name">NOMBRE USUARIO: @username</h1>
            <h1 class="final-score">PUNTAJE FINAL: @puntajeActual</h1>

            <a href='@Url.Action("Index", "Home")' class="retry-button">VOLVER A JUGAR</a>
        </div>
    </div>
</body>
