@{
    ViewData["Title"] = "Fin";
    var username = Juego.username;
    var puntajeActual = Juego.puntajeActual;
    <link rel="stylesheet" href="styles.css">

}

<body>
    <div class="result-container">
        <p class="finish-text">FIN</p>

        <div class="details-box">
            <h1 class="user-info">NOMBRE USUARIO: @username</h1>
            <h1 class="score-display">PUNTAJE FINAL: @puntajeActual</h1>

            <a href='@Url.Action("Index", "Home")' class="play-again-btn">VOLVER A JUGAR</a>
        </div>
    </div>
</body>

